<p id="notice"><%= notice %></p>

<p>
  <strong>Certstoreroleid:</strong>
  <%= @cert_store_role.CertStoreRoleId %>
</p>

<p>
  <strong>Roleid:</strong>
  <%= @cert_store_role.RoleId %>
</p>

<p>
  <strong>Certstoreid:</strong>
  <%= @cert_store_role.CertStoreId %>
</p>

<p>
  <strong>Createdby:</strong>
  <%= @cert_store_role.CreatedBy %>
</p>

<p>
  <strong>Createddate:</strong>
  <%= @cert_store_role.CreatedDate %>
</p>

<p>
  <strong>Lastmodifiedby:</strong>
  <%= @cert_store_role.LastModifiedBy %>
</p>

<p>
  <strong>Lastmodifieddate:</strong>
  <%= @cert_store_role.LastModifiedDate %>
</p>

<p>
  <strong>Isdeleted:</strong>
  <%= @cert_store_role.IsDeleted %>
</p>

<%= link_to 'Edit', edit_cert_store_role_path(@cert_store_role) %> |
<%= link_to 'Back', cert_store_roles_path %>
