<%= form_for(@user_store) do |f| %>
  <% if @user_store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_store.errors.count, "error") %> prohibited this user_store from being saved:</h2>

      <ul>
      <% @user_store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :UserStoreId %><br>
    <%= f.number_field :UserStoreId %>
  </div>
  <div class="field">
    <%= f.label :SourceId %><br>
    <%= f.number_field :SourceId %>
  </div>
  <div class="field">
    <%= f.label :EnvironmentId %><br>
    <%= f.number_field :EnvironmentId %>
  </div>
  <div class="field">
    <%= f.label :IdentityTypeId %><br>
    <%= f.number_field :IdentityTypeId %>
  </div>
  <div class="field">
    <%= f.label :UserStoreName %><br>
    <%= f.text_field :UserStoreName %>
  </div>
  <div class="field">
    <%= f.label :UserStorePassword %><br>
    <%= f.text_field :UserStorePassword %>
  </div>
  <div class="field">
    <%= f.label :UserStoreExpirationDate %><br>
    <%= f.datetime_select :UserStoreExpirationDate %>
  </div>
  <div class="field">
    <%= f.label :CreatedBy %><br>
    <%= f.text_field :CreatedBy %>
  </div>
  <div class="field">
    <%= f.label :CreatedDate %><br>
    <%= f.datetime_select :CreatedDate %>
  </div>
  <div class="field">
    <%= f.label :LastModifiedBy %><br>
    <%= f.text_field :LastModifiedBy %>
  </div>
  <div class="field">
    <%= f.label :LastModifiedDate %><br>
    <%= f.datetime_select :LastModifiedDate %>
  </div>
  <div class="field">
    <%= f.label :IsDeleted %><br>
    <%= f.check_box :IsDeleted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
