<p id="notice"><%= notice %></p>

<h1>Listing User Stores</h1>

<table>
  <thead>
    <tr>
      <th>Userstoreid</th>
      <th>Sourceid</th>
      <th>Environmentid</th>
      <th>Identitytypeid</th>
      <th>Userstorename</th>
      <th>Userstorepassword</th>
      <th>Userstoreexpirationdate</th>
      <th>Createdby</th>
      <th>Createddate</th>
      <th>Lastmodifiedby</th>
      <th>Lastmodifieddate</th>
      <th>Isdeleted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_stores.each do |user_store| %>
      <tr>
        <td><%= user_store.UserStoreId %></td>
        <td><%= user_store.SourceId %></td>
        <td><%= user_store.EnvironmentId %></td>
        <td><%= user_store.IdentityTypeId %></td>
        <td><%= user_store.UserStoreName %></td>
        <td><%= user_store.UserStorePassword %></td>
        <td><%= user_store.UserStoreExpirationDate %></td>
        <td><%= user_store.CreatedBy %></td>
        <td><%= user_store.CreatedDate %></td>
        <td><%= user_store.LastModifiedBy %></td>
        <td><%= user_store.LastModifiedDate %></td>
        <td><%= user_store.IsDeleted %></td>
        <td><%= link_to 'Show', user_store %></td>
        <td><%= link_to 'Edit', edit_user_store_path(user_store) %></td>
        <td><%= link_to 'Destroy', user_store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User store', new_user_store_path %>
