<p id="notice"><%= notice %></p>

<p>
  <strong>Userstoreroleid:</strong>
  <%= @user_store_role.UserStoreRoleId %>
</p>

<p>
  <strong>Roleid:</strong>
  <%= @user_store_role.RoleId %>
</p>

<p>
  <strong>Userstoreid:</strong>
  <%= @user_store_role.UserStoreId %>
</p>

<p>
  <strong>Createdby:</strong>
  <%= @user_store_role.CreatedBy %>
</p>

<p>
  <strong>Createddate:</strong>
  <%= @user_store_role.CreatedDate %>
</p>

<p>
  <strong>Lastmodifiedby:</strong>
  <%= @user_store_role.LastModifiedBy %>
</p>

<p>
  <strong>Lastmodifieddate:</strong>
  <%= @user_store_role.LastModifiedDate %>
</p>

<p>
  <strong>Isdeleted:</strong>
  <%= @user_store_role.IsDeleted %>
</p>

<%= link_to 'Edit', edit_user_store_role_path(@user_store_role) %> |
<%= link_to 'Back', user_store_roles_path %>
